<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add attraction</title>
</head>
<body>
<form action="/attractions/create" th:objects="${attraction}" method="post">
    <p>
        <label>Navn på attraktion</label>
        <input type="text" name="name" th:field="*{attraction.name}"/>
    </p>
    <p>
        <label>Beskrivelse</label>
        <input type="text" name="pris" th:field="*{attraction.description}"/>
    </p>
    <input type="submit" value="Tilføj attraktion"/>
</form>
</body>
</html>