<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attractions</title>
</head>
<body>
<table>
    <thead><h1>Attraktioner</h1></thead>
    <tbody>
    <tr th:if="${!attractionsList.isEmpty()}">
        <td><h3>Navn</h3></td>
        <td><h3>Beskrivelse</h3></td>
        <td><h3>By</h3></td>
        <td><h3>Tags</h3></td>
    </tr>
    <tr th:each="attraction : ${attractionsList}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
        <td th:text="${attraction.city}"></td>
        <td>
            <a th:href="'attractions/' + ${attraction.name} + '/delete'">
                <button>Slet</button>
            </a>
        </td>
        <td>
            <a th:href="'attractions/' + ${attraction.name} + '/tags'">
                <button>Tags</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a href="attractions/add">
    <button>Tilføj attraktion</button>
</a>
</body>
</html>