<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attractions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<table class="table table-dark">
    <thead><h1>Attraktioner</h1></thead>
    <tbody>
    <tr th:if="${!attractionsList.isEmpty()}">
        <td><h3>Navn</h3></td>
        <td><h3>Beskrivelse</h3></td>
        <td><h3>By</h3></td>
        <td><h3>Tags</h3></td>
        <td><h3>Pris DKK</h3></td>
        <td><h3>Pris EUR</h3></td>
    </tr>
    <tr th:each="attraction : ${attractionsList}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
        <td th:text="${attraction.city}"></td>
        <td>

            <a th:href="'attractions/' + ${attraction.name} + '/tags'">
                <button>Tags</button>
            </a>
        </td>
        <td th:text="${attraction.ticketPrice}"></td>
        <td>
            <a th:href="'attractions/' + ${attraction.name} + '/edit'" class="btn btn-primary">Opdater</a>
            <a th:href="'attractions/' + ${attraction.name} + '/delete'" class="btn btn-danger"> Slet</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="attractions/add" class="btn btn-dark">Tilføj attraktion
</a>
</body>
</html>