<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${attraction.name} + ' tags'"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <style>
        body {
            padding: 20px;
        }
        h3 {
            margin-bottom: 20px;
        }
        .footer {
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px; /* Add padding for better visibility */
            background-color: #f8f9fa; /* Change this to your desired background color */
        }
    </style>
</head>
<body>
<h3 th:text="${attraction.name} + ' tags'" class="mb-4"></h3>
<table class="table">
    <thead>
    <tr>
        <th>Tags</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${attraction.tags}">
        <td th:text="${tag}"></td>
    </tr>
    </tbody>
</table>
<a href="/attractions" class="btn btn-primary">Tilbage</a>
<div th:replace="~{fragments/footer :: footer}" class="footer">...</div>
</body>
</html>